:global {
  @import 'base';
  @import '~normalize.css/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .main-container {
    margin-top: 25px;

    .main-header {
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 15px;

      .title {
        margin-left: 5px;
      }
      .sub-title {
        display: block;
        color: #999;
      }
    }

    .col-md-3 {
      min-width: 270px;
      float: left;
      .panel-body {
        text-align: center;
        height: 229px;
        overflow: hidden;
        background: url(../static/images/missing.jpeg) no-repeat -23px;
        opacity: 0.1;
        &.loaded{
          background: none;
          opacity: 10;
        }
      }
    }

    span.sub-title {
      font-size: 15px;
      font-weight: 300;
    }

    .alert-danger {
      font-size: 25px;
      .glyphicon {
        margin-right: 15px;
      }
    }
  }
}
